* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(139, 215, 215);
    text-align: center;
    overflow: hidden;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 8vmin;
    color: rgb(31, 7, 7);
    background-color: rgb(128, 86, 168);
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: yellowgreen;
    border-radius: 1rem;
    border: none;
    text-align: center;
}

#newgame-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: yellowgreen;
    border-radius: 1rem;
    border: none;
    margin-top: 1rem;
}

#msg {
    color: blue;
    font-size: 5vmin;
}

.msg-container {
    height: 30vmin;
}

.hide {
    display: none;
}